/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wdth,wght@0,75..100,100..800;1,75..100,100..800&display=swap");

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  font-family: "Ubuntu Sans", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  font-weight: 500;
}

/*---------------- heading ----------------*/
.heading {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: bold !important;
  font-size: 35px !important;
  margin-bottom: 30px;
  color: #b80000;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.three .heading {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}
.three .heading:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #b80000;
}
.three .heading:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #b80000;
}
